[submodule "ProjectUnity/Assets/ShareCode"]
	path = ProjectUnity/Assets/ShareCode
	url = git@github.com:libyyu/ShareCode.git
[submodule "ProjectUnity/Assets/Arts"]
	path = ProjectUnity/Assets/Arts
	url = git@github.com:libyyu/Arts.git
